{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Catalog</h1>

    <!-- SEARCH BAR -->
    <!--
    <div class="input-group">
        <input type="search" class="form-control"
               id="search-box" placeholder="Enter search..."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn"
                    class="btn btn-primary">Search</button>
        </div>
    </div>
    -->
    <div class="container">
            <form method="GET" class="row">
                <div class="col-sm-1">
                    <input type="submit" value="Order by" class="btn btn-primary">
                </div>
                <div class="col-sm-2" style="margin-left: 15px">
                    {{ form.order|add_class:"form-select form-select-xm mb-3" }}
                </div>
            </form>
    </div>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                {% include 'listings/single_listing.html' with listing=listing %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
