{% extends 'base.html' %}
{% load countries %}
{% load widget_tweaks %}
{% block content %}

    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Checkout</h1>

    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.name }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">
                            <strong>Condition:</strong>
                            {{ listing.condition }}</p>
                        <p class="card-text">
                            <strong>Price:</strong>
                            {{ listing.price }}$</p>
                        <p class="card-text">
                            <strong>Highest offer:</strong>
                            {{ listing.highest_offer }}$</p>
                        <p class="card-text">
                            <strong>Seller:</strong>
                            {{ listing.seller }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Contact info</h4>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body ms-5">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="FullName" class="form-label"><strong>Full name: </strong></label>
                                {{ contact.full_name }}
                            </div>

                            <div class="col-sm-6">
                                <label for="firstName" class="form-label"><strong>Street name: </strong></label>
                                {{ contact.street_name }}
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label"><strong>House number: </strong></label>
                                {{ contact.house_num }}
                            </div>

                            <div class="col-md-3" style="position: relative">
                                <label for="country" class="form-label"><strong>Country: </strong></label>
                                {{ contact.country }}

                            </div>

                            <div class="col-md-3">
                                <label for="firstName" class="form-label"><strong>City: </strong></label>
                                {{ contact.city }}
                            </div>

                            <div class="col-md-3 mb-4">
                                <label for="zip" class="form-label"><strong>Postal/ZIP: </strong></label>
                                {{ contact.postal_code }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Payment info</h4>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body ms-5">
                        <div class="row g-3">
                            <div class="row gy-3">
                                <div class="col-md-12">
                                    <label for="cc-name" class="form-label"><strong>Name on card: </strong></label>
                                    {{ payment.cardholder_name }}
                                </div>
                                <div class="col-md-12">
                                    <label for="cc-number" class="form-label"><strong>Credit card number: </strong></label>
                                    {{ payment.card }}
                                </div>
                                <div class="col-md-6">
                                    <label for="cc-expiration" class="form-label"><strong>Expiration date: </strong></label>
                                    {{ payment.expiration_month }}/{{ payment.expiration_year }}
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-cvc" class="form-label"><strong>CVC</strong></label>
                                    {{ payment.cvc }}
                                </div>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Rate seller</h4>
                </div>
                <div class="col-md-4">
                    <img src="{{ seller.image }}"
                         class="card-img-top"
                         alt="profile_image">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-4 mb-4">
                                <p class="card-text">
                                    <strong>First name:</strong>
                                    {{ user.first_name }}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text">
                                    <strong>Last name:</strong>
                                    {{ user.last_name }}
                                </p>
                            </div>
                            <div class="col-md-4"></div>
                            <p class="card-text col-md-4 mb-4">
                                <strong>Username:</strong>
                                {{ user.username }}
                            </p>
                            <p class="card-text col-md-6 mb-4">
                                <strong>Email:</strong>
                                {{ user.email }}
                            </p>
                            <p class="card-text col-md-12 mb-4">
                                <strong>Bio:</strong>
                                {{ seller.bio }}
                            </p>
                            <label><strong>Rating:</strong></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text col-md-2">
                                    {{ rate.rating }}
                                </span>
                                <span class="input-group-text">/10</span>
                                {{ rate.rating.errors }}
                                <p class="col-md-10"></p>
                            </div>
                        </div>
                        <div class="mb-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-1">
                <input class="btn btn-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}