{% extends 'base.html' %}
{% load countries %}
{% load widget_tweaks %}
{% block content %}

    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Checkout</h1>

    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.name }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">
                            <strong>Condition:</strong>
                            {{ listing.condition }}</p>
                        <p class="card-text">
                            <strong>Price:</strong>
                            {{ listing.price }}$</p>
                        <p class="card-text">
                            <strong>Highest offer:</strong>
                            {{ listing.highest_offer }}$</p>
                        <p class="card-text">
                            <strong>Seller:</strong>
                            {{ listing.seller }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Contact info</h4>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="FullName" class="form-label">Full name</label>
                                    {{ contact.full_name }}
                                </div>

                                <div class="col-sm-6"></div>

                                <div class="col-sm-8">
                                    <label for="firstName" class="form-label">Street name</label>
                                    {{ contact.street_name }}
                                </div>

                                <div class="col-sm-4">
                                    <label for="lastName" class="form-label">House number</label>
                                    {{ contact.house_num }}
                                </div>

                                    <div class="col-md-6" style="position: relative">
                                        <label for="country" class="form-label">Country</label>
                                        {{ contact.country }}

                                    </div>

                                <div class="col-md-4">
                                    <label for="firstName" class="form-label">City</label>
                                    {{ contact.city }}
                                </div>

                                <div class="col-md-2 mb-4">
                                    <label for="zip" class="form-label">Postal/ZIP</label>
                                    {{ contact.postal_code }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Next step</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
