{% extends 'base.html' %}
{% load countries %}
{% load widget_tweaks %}
{% block content %}

    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Checkout</h1>

    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.name }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">
                            <strong>Condition:</strong>
                            {{ listing.condition }}</p>
                        <p class="card-text">
                            <strong>Price:</strong>
                            {{ listing.price }}$</p>
                        <p class="card-text">
                            <strong>Highest offer:</strong>
                            {{ listing.highest_offer }}$</p>
                        <p class="card-text">
                            <strong>Seller:</strong>
                            {{ listing.seller }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Rate seller</h4>
                </div>
                <div class="col-md-4">
                    <img src="{{ seller.image }}"
                         class="card-img-top"
                         alt="profile_image">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-4 mb-4">
                                    <p class="card-text">
                                        <strong>First name:</strong>
                                        {{ user.first_name }}
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text">
                                        <strong>Last name:</strong>
                                        {{ user.last_name }}
                                    </p>
                                </div>
                                <div class="col-md-4"></div>
                                <p class="card-text col-md-4 mb-4">
                                    <strong>Username:</strong>
                                    {{ user.username }}
                                </p>
                                <p class="card-text col-md-4 mb-4">
                                    <strong>Email:</strong>
                                    {{ user.email }}
                                </p>
                                <p class="card-text col-md-12 mb-4">
                                    <strong>Bio:</strong>
                                    {{ seller.bio }}
                                </p>
                                <label><strong>Rating:</strong></label>
                                <div class="input-group mb-1">
                                    {{ rate.rating|add_class:"col-md-1" }}
                                    <span class="input-group-text">/10</span>
                                    {{ rate.rating.errors }}
                                    <p class="col-md-10"></p>
                                </div>
                            </div>
                            <div class="mb-3"></div>
                            <button type="submit" class="btn btn-primary">Next step</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">
        <a href="checkout_review">
            <button class="btn btn-primary">Skip step</button>
        </a>
    </div>
{% endblock %}
