{% extends 'base.html' %}
{% load countries %}
{% load widget_tweaks %}
{% block content %}

    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Checkout</h1>

    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.name }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">
                            <strong>Condition:</strong>
                            {{ listing.condition }}</p>
                        <p class="card-text">
                            <strong>Price:</strong>
                            {{ listing.price }}$</p>
                        <p class="card-text">
                            <strong>Highest offer:</strong>
                            {{ listing.highest_offer }}$</p>
                        <p class="card-text">
                            <strong>Seller:</strong>
                            {{ listing.seller }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="card mb-3" style="margin-top: 20px;">
            <div class="row g-0">
                <div class="card-header text-center checkout-header">
                    <h4>Payment info</h4>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="row gy-3">
                                    <div class="col-md-6">
                                        <label for="cc-name" class="form-label">Name on card</label>
                                        {{ payment.cardholder_name|attr:"placeholder:Name" }}
                                        <small class="text-muted">Full name as displayed on card</small>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="cc-number" class="form-label">Credit card number</label>
                                        {{ payment.card|add_class:"form-control"|attr:"placeholder:0000-0000-0000-0000" }}
                                    </div>

                                    <div class="col-md-3">
                                        <label for="cc-expiration" class="form-label">Expiration date</label>
                                        <div class="row mb-4">
                                            <div class="col-sm-6">
                                                {{ payment.expiration_month }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ payment.expiration_year }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="cc-cvc" class="form-label">CVC</label>
                                        {{ payment.cvc|attr:"placeholder:CVC" }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Next step</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    <input class="btn btn-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">
    </div>
{% endblock %}
