{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Create listing</h1>
    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <h4 class="card-title col-md-5">
                                    Title:{{ form.name }}
                                    {{ form.name.errors }}
                                </h4>
                                <div class="col-md-8">
                                    <label for="country" class="form-label">Description</label>
                                    {{ form.description }}
                                    {{ form.description.errors }}
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <label for="country" class="form-label">Condition</label>
                                    {{ form.condition }}
                                    {{ form.condition.errors }}
                                </div>
                                <div class="col-md-4">
                                    <label for="country" class="form-label">Category</label>
                                    {{ form.category }}
                                    {{ form.category.errors }}
                                </div>
                                <label><strong>Price:</strong></label>
                                <div class="input-group mb-1">
                                    {{ form.price|add_class:"col-md-1" }}
                                    <span class="input-group-text">$</span>
                                    {{ form.price.errors }}
                                    <p class="col-md-10"></p>
                                </div>
                                <p class="card-text">
                                    <strong>Image:</strong>
                                    {{ image_form.image }}
                                    {{ image_form.image.errors }}
                                </p>
                                {{ form.non_field_errors }}
                                <button type="submit" class="btn btn-primary">
                                    Create listing
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type=button value="Back" onClick="javascript:history.go(-1);">
        </div>
    </div>
{% endblock %}
