{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Listing detail</h1>
    <div class="mb-4">
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row g-3">
                            <h4 class="card-title col-md-12">{{ listing.name }}</h4>
                            <p class="card-text col-md-12">{{ listing.description }}</p>
                            <p class="card-text col-md-4">
                                <strong>Condition:</strong>
                                {{ listing.condition }}</p>
                            <p class="card-text col-md-4">
                                <strong>Category:</strong>
                                {{ listing.category }}</p>
                            <div class="col-md-4"></div>
                            <p class="card-text col-md-4">
                                <strong>Price:</strong>
                                {{ listing.price }}$</p>
                            <p class="card-text col-md-4">
                                <strong>Highest offer:</strong>
                                {{ listing.highest_offer }}$</p>
                            <p class="card-text col-md-12">
                                <strong>Seller:</strong>
                                {{ listing.seller }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type=button value="Back" onClick="javascript:history.go(-1);">
        {% if seller != profile %}
            <a href="{{ listing.id }}/offer">
                <button class="btn btn-primary">Make an offer</button>
            </a>
            <a href="{{ listing.id }}/checkout_contact">
                <button class="btn btn-primary">Buy</button>
            </a>
        {% endif %}
        {% if seller == profile %}
            <a href="{{ listing.id }}/update">
                <button class="btn btn-primary">Update</button>
            </a>
            <a href="{{ listing.id }}/delete">
                <button class="btn btn-primary">Delete</button>
            </a>
        {% endif %}
    </div>

    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Similar listings</h1>

    <div class="container">
        <div class="row">
            {% for similar_listing in similar_listings %}
                {% include 'listings/similar_single_listing.html' with listing=similar_listing %}
            {% endfor %}
        </div>
    </div>
{% endblock %}