{% extends 'base.html' %}
{% block content %}<h1 class="text-center"
                       style="margin-top: 50px;
        margin-bottom: 40px;">Make an offer</h1>
    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row g-3">
                            <h4 class="card-title col-md-12">{{ listing.name }}</h4>
                            <p class="card-text col-md-12">{{ listing.description }}</p>
                            <p class="card-text col-md-4">
                                <strong>Condition:</strong>
                                {{ listing.condition }}</p>
                            <p class="card-text col-md-4">
                                <strong>Category:</strong>
                                {{ listing.category }}</p>
                            <div class="col-md-4"></div>
                            <p class="card-text col-md-4">
                                <strong>Price:</strong>
                                {{ listing.price }}$</p>
                            <p class="card-text col-md-4">
                                <strong>Highest offer:</strong>
                                {{ listing.highest_offer }}$</p>
                            <p class="card-text col-md-12">
                                <strong>Seller:</strong>
                                {{ listing.seller }}</p>
                            <form class="form form-horizontal" method="post">
                                {% csrf_token %}
                                {% if error_message %}
                                    <p>{{ error_message }}</p>
                                    <p>{{ error_highest_offer }}</p>
                                    <p>{{ error_price }}</p>
                                {% endif %}
                                {{ form }}
                                {{ form.errors }}
                                {{ listing_form.errors }}
                                {{ form.non_field_errors }}
                                <input type="submit" value="Make an offer"
                                       class="btn btn-primary pull-right"
                                       style="clear:both; margin: 10px 0"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
    </div>

{% endblock %}