{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2 class="text-center">
            Catalog
          </h2>

    <!-- SEARCH BAR -->
    <!--
    <div class="input-group">
        <input type="search" class="form-control"
               id="search-box" placeholder="Enter search..."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn"
                    class="btn btn-primary">Search</button>
        </div>
    </div>
    -->
    <div class="container">
            <form method="GET" class="row">
                <div class="col-sm-1">
                    <input type="submit" value="Order by" class="btn btn-primary">
                </div>
                <div class="col-sm-2" style="margin-left: 15px">
                    {{ form.order|add_class:"form-select form-select-xm mb-3" }}
                </div>
            </form>
    </div>

<section class="listings">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">

            <div class="listings">
                {% for listing in listings %}
                    <div class="d-flex justify-content-center">
                        <div class="media-body order-2 order-lg-1"
                             style="position: relative">
                            <h3 class="mt-0 font-weight-bold mb-2">
                                <u>{{ listing.name }}</u>
                            </h3>
                            <p class="font-italic text-muted mb-0 small">
                                <u>Condition:</u> {{ listing.condition }}
                            </p>
                            <p class="font-italic text-muted mb-0 small">
                                <u>Price:</u> <b>{{ listing.price }}$</b>
                            </p>
                            <p class="font-italic text-muted mb-0 small">
                                <u>Seller:</u> <i>{{ listing.seller }}</i>
                            </p>
                            <a href="{{ listing.id }}"
                               style="position:absolute; bottom: 50px">
                                <button class="btn btn-primary">
                                    Details
                                </button>
                            </a>
                        </div>
                            <img src="{{ listing.listingimage_set.first.image }}"
                                 class="catalog-images" style="height: 60px; height: auto"/>
                    </div>
                    <div style="border-bottom: solid 2px black;
                                margin-bottom: 50px">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
