<div class="col-md-3 card-seperator d-flex align-items-stretch">
    <div class="card" style="width: 18rem;">
        <img src="{{ listing.listingimage_set.first.image }}"
             class="card-img-top"
             alt="listing_image">
        <div class="card-body">
            <h5 class="card-title">{{ listing.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Price:</strong> {{ listing.price }}</li>
          <li class="list-group-item"><strong>Seller:</strong> {{ listing.seller }}</li>
        </ul>
        <a href="{{ listing.id }}" class="btn btn-primary">Check listing</a>
    </div>
</div>