{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Update listing</h1>
    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ listing.listingimage_set.first.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <h4 class="card-title col-sm-6">Title:{{ form.name }}</h4>
                            <p class="card-text"><strong>Description:</strong> {{ form.description }}</p>
                            <p class="card-text col-sm-3">
                                <strong>Condition:</strong>
                                {{ form.condition }}
                            </p>
                            <p class="card-text col-sm-3">
                                <strong>Category:</strong>
                                {{ form.category }}
                            </p>
                            <label><strong>Price:</strong></label>
                            <div class="input-group mb-1">
                                {{ form.price|add_class:"col-sm-2" }}
                                <span class="input-group-text">$</span>
                                <p class="col-sm-9"></p>
                            </div>
                            <p class="card-text">
                                <strong>Image:</strong>
                                {{ image_form.image }}
                            </p>
                            <button type="submit" class="btn btn-primary">Update listing</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="/listings/{{ listing.id }}">
                <button class="btn btn-primary">Back</button>
            </a>
        </div>
    </div>
{% endblock %}
