{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Your listings</h1>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                {% include 'listings/single_listing.html' with listing=listing %}
            {% endfor %}
        </div>
    </div>
{% endblock %}