.test  {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.profile-image  {
    width: 50px;
    height: auto;
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
h3 {
    padding-top: 20px;
}

.header-image {
    width: 25px;
    padding: 3px;
}

.catalog-images {
    border: solid 2px black;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
    margin-right: 20px;
}

a   {
    text-decoration: none;
}

.input-group    {
    margin-bottom: 20px;
}

.filters form   {
    display: inline-block;
}

.card-img-top   {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-seperator {
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #fd3e3e;
    border-color: #fd3e3e;
}

.btn-primary:hover {
    background: #fc7777;
    border-color: #fc7777;
}
/* Does not work */
.btn-primary:active {
    background: #9c0e0e !important;
    border-color: #9c0e0e !important;
}

/* Removes the increment arrows for the umber inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.checkout-header    {
    color: #fff;
    background-color: #fd3e3e;
}
.bg-light {
    --bs-bg-opacity: 0;
}
