<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
<!-- Footer -->
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    </div>
    <!-- Left -->
  </section>


  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>About Firesale
          </h6>
          <p>
              This is a website developed by group 22 in the course Verklegt-II
          </p>
          <p>
              Firesale is a website where products can find a new life!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Developers
          </h6>
          <p>
            Ásta Sól Bjarkadóttir
          </p>
          <p>
            Guðjón Kristjánsson
          </p>
          <p>
            Gunnlaugur Helgi Ársælsson
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Actions
          </h6>
            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'profile' %}" class="text-reset">Profile</a>
                </p>
                <p>
                    <a href="{% url 'create_listing' %}" class="text-reset">Create listing</a>
                </p>
                <p>
                    <a href="{% url 'logout' %}" class="text-reset">Logout</a>
                </p>
            {% else %}
                <p>
                    <a href="{% url 'login' %}" class="text-reset">Login</a>
                </p>
                <p>
                    <a href="{% url 'register' %}" class="text-reset">Register</a>
                </p>
            {% endif %}
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-envelope me-3"></i> astab19@ru.is</p>
          <p><i class="fas fa-envelope me-3"></i> gudjonk6@gmail.com</p>
          <p><i class="fas fa-envelope me-3"></i> gunnlaugur20@ru.is</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(253,62,62);">
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->