{% extends 'base.html' %}
{% block content %}
    {% load widget_tweaks %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Edit profile</h1>
    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ profile.image }}"
                         class="card-img-top"
                         alt="listing_image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <p class="card-text col-sm-6 mb-1">
                                <strong>First name:</strong>
                                {{ user_form.first_name }}
                            </p>
                            <p class="card-text col-sm-6 mb-1">
                                <strong>Last name:</strong>
                                {{ user_form.last_name }}
                            </p>
                            <p class="card-text col-sm-3 mb-1">
                                <strong>Username:</strong>
                                {{ user_form.username }}
                            </p>
                            <p class="card-text col-sm-3 mb-1">
                                <strong>Email:</strong>
                                {{ user_form.email|add_class:"form-control" }}
                            </p>
                            <p class="card-text mb-1 col-sm-7">
                                <strong>Bio:</strong>
                                {{ form.bio }}
                            </p>
                            <p class="card-text mb-4">
                                <strong>Image:</strong>
                                {{ form.image }}
                            </p>
                            <button type="submit" class="btn btn-primary">Update profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type=button value="Back" onClick="javascript:history.go(-1);">
        </div>
    </div>
{% endblock %}
