{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<section class="vh-100" style="background-color: hsl(0, 0%, 96%);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">
                    {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0"><img src="/static/images/firesale_logo.png" alt="img" style="max-width: 100x; max-height: 100px"></img></span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    {{ form.username|add_class:"form-control form-control-lg" }}
                    <label class="form-label">Username</label>
                    {{ form.username.errors }}
                  </div>

                  <div class="form-outline mb-4">
                    {{ form.password|add_class:"form-control form-control-lg" }}
                    <label class="form-label">Password</label>
                    {{ form.password.errors }}
                  </div>

                  <div class="pt-1 mb-4">
                      {{ form.non_field_errors }}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}"
                      style="color: #393f81;">Register here</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}