{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center"
        style="margin-top: 50px;
        margin-bottom: 40px;">Profile</h1>
    <div>
        <div class="card mb-3" style="margin-top: 100px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ profile.image }}"
                         class="card-img-top"
                         alt="profile_image">
                </div>
                <div class="col-md-8 profile-text">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                <p class="card-text">
                                    <strong>First name:</strong>
                                    {{ user.first_name }}
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="card-text">
                                    <strong>Last name:</strong>
                                    {{ user.last_name }}
                                </p>
                            </div>
                        </div>
                        <p class="card-text col-sm-3 mb-4">
                            <strong>Username:</strong>
                            {{ user.username }}
                        </p>
                        <p class="card-text col-sm-3 mb-4">
                            <strong>Email:</strong>
                            {{ user.email }}
                        </p>
                        <p class="card-text col-sm-7 mb-4">
                            <strong>Bio:</strong>
                            {{ profile.bio }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type=button value="Back" onClick="javascript:history.go(-1);">
            <a href="{% url 'edit_profile' %}">
                <button class="btn btn-primary">Edit profile</button>
            </a>
            <a href="{% url 'user_listings' %}">
                <button class="btn btn-primary">Your listings</button>
            </a>

        </div>
    </div>
{% endblock %}
