{% extends 'base.html' %}
{%  load widget_tweaks %}
{% block content %}
    <!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offers <br />
            <span class="text-danger">The best deals</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Firesale grants you the best platform to sell and shop used items online. <br />
              All you need - in one place!
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post">
                  {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {{ form.first_name|add_class:"form-control" }}
                      <label class="form-label">First name</label>
                      {{ form.first_name.errors }}
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      {{ form.last_name|add_class:"form-control" }}
                      <label class="form-label">Last name</label>
                      {{ form.last_name.errors }}
                    </div>
                  </div>
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                  {{ form.username|add_class:"form-control" }}
                  <label class="form-label">Username</label>
                  {{ form.username.errors }}
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  {{ form.email|add_class:"form-control" }}
                  <label class="form-label">Email</label>
                  {{ form.email.errors }}
                </div>
                  <p style="color:red;">Password must contain at least 8 characters, an uppercase and a special character (like !.,#$@).</p>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  {{ form.password1|add_class:"form-control" }}
                  <label class="form-label">Password</label>
                  {{ form.password1.errors }}
                </div>
                  <!-- Confirm password -->
                <div class="form-outline mb-4">
                  {{ form.password2|add_class:"form-control" }}
                  <label class="form-label">Confirm Password</label>
                  {{ form.password2.errors }}
                </div>

                <!-- Submit button -->
                  {{ form.non_field_errors }}
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock %}